
.header-style{
    padding: 0%;
    margin: 0%;
    background-color:#2874f0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1.6em;
    color: whitesmoke;
    font-style: Roboto,Arial,sans-serif;
}

.header-style .Exp a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.header-style button{
    width: 115px;
    height: 30px;
    text-align: center;
    background: white;
    color: #2874f0;
    border : transparent;
    border-radius: 2px;
    cursor: pointer;
}
.header-style h4{
    cursor: pointer;
}

.header-style .search{
    padding: 20px;
    width: 290px;
    height: 6px;
    border-radius: 2px;
    align-items: center;
    border: white;
    background: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.header-style input{
    width: 250px;
    height: 25px;
    border: none;
}
.header-style .menu img{
       cursor: pointer;
}
.header-style .cart{ 
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.header-style .cart img{
    border-radius: 4px;
}